*, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #DEE2E6;
  font-family: "Poppins";
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-weight: 500;
}

.start-section {
  margin-top: 15%;
  padding: 2rem;
}

@media (min-width: 780px) {
  .start-section {
    margin: 15% auto;
    max-width: 700px;
  }
}

@media (min-width: 980px) {
  .start-section {
    margin: 10% auto;
  }
}

.start-section .single-portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

.start-section .single-portfolio-card .portfolio-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 568px) {
  .start-section .single-portfolio-card .portfolio-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.start-section .single-portfolio-card .portfolio-header .portfolio-label {
  padding: .3rem .6rem;
  background-color: black;
  color: #FFFFFF;
}

.start-section .single-portfolio-card .portfolio-header .portfolio-button {
  margin-left: auto;
}

.start-section .single-portfolio-card .portfolio-header .portfolio-button .port-btn {
  padding: .3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
}

.start-section .single-portfolio-card .portfolio-header .portfolio-button .port-btn h4 {
  font-weight: 500;
  padding-right: .3rem;
}

.start-section .single-portfolio-card .portfolio-content {
  border: 2px solid black;
  border-bottom: 5px solid black;
  padding: 2rem 1rem;
  background-color: #FFFFFF;
}

@media (min-width: 568px) {
  .start-section .single-portfolio-card .portfolio-content {
    padding: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 568px) {
  .start-section .single-portfolio-card .portfolio-content .content-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
}

.start-section .single-portfolio-card .portfolio-content .content-text h4 {
  margin-bottom: .3rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.start-section .single-portfolio-card .portfolio-content .content-text p {
  font-weight: 400;
}

.start-section .single-portfolio-card .portfolio-content .portfolio-img-container {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 568px) {
  .start-section .single-portfolio-card .portfolio-content .portfolio-img-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.start-section .single-portfolio-card .portfolio-content .portfolio-img-container figure img {
  width: 100%;
  height: 100%;
  display: block;
  border: solid 2px black;
}

.start-section .welcome-box {
  margin: auto;
  max-width: 400px;
  background-color: #F9C74F;
  border: 2px solid black;
  border-bottom: 5px solid black;
  padding: 1.5rem 1.5rem;
}

@media (min-width: 780px) {
  .start-section .welcome-box {
    margin-top: 0%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.start-section .category-menu {
  margin: auto;
  max-width: 400px;
}

.start-section .category-menu .categorys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.start-section .category-menu .categorys li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23%;
          flex: 0 0 23%;
  background-color: #F9C74F;
  border: 2px solid black;
  margin-bottom: 5px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.start-section .category-menu .categorys li a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 500;
  padding: .5rem;
}

.start-section .category-menu .categorys li:hover {
  background-color: darkorange;
}

.start-section .category-menu .categorys li.selected-category {
  background-color: darkorange;
}

.portfolio-section {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

@media (min-width: 568px) {
  .portfolio-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1100px;
  }
}

.portfolio-section .portfolio-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
}

@media (min-width: 568px) {
  .portfolio-section .portfolio-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}

@media (min-width: 780px) {
  .portfolio-section .portfolio-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.8%;
            flex: 0 0 45.8%;
  }
}

@media (min-width: 960px) {
  .portfolio-section .portfolio-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.portfolio-section .portfolio-div .portfolio-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-section .portfolio-div .portfolio-header .portfolio-label {
  padding: .3rem .6rem;
  background-color: black;
  color: #FFFFFF;
}

.portfolio-section .portfolio-div .portfolio-header .portfolio-button {
  margin-left: auto;
}

.portfolio-section .portfolio-div .portfolio-header .portfolio-button .port-btn {
  padding: .3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
}

.portfolio-section .portfolio-div .portfolio-header .portfolio-button .port-btn h4 {
  font-weight: 500;
  padding-right: .3rem;
}

.portfolio-section .portfolio-div .portfolio-content {
  border: 2px solid black;
  border-bottom: 5px solid black;
  padding: 2rem 1rem;
  background-color: #FFFFFF;
}

.portfolio-section .portfolio-div .portfolio-content h4 {
  margin-bottom: .3rem;
}

.portfolio-section .portfolio-div .portfolio-content p {
  font-weight: 400;
}

.portfolio-section .error-div {
  margin: 10rem 1rem;
  padding: 1.5rem 1.5rem;
}

.portfolio-section .error-div .error-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-section .error-div .error-header .error-label {
  padding: .2rem 1.5rem;
  background-color: yellow;
  border: solid 2px black;
  border-bottom: none;
}

.portfolio-section .error-div .error-content {
  border: 2px solid black;
  border-bottom: 5px solid black;
  background-color: #FFFFFF;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-section .error-div .error-content h2 {
  margin-top: 2rem;
  font-weight: 400;
}

.portfolio-section .error-div .error-content .back-btn {
  font-weight: 400;
  margin-top: 2rem;
  background-color: #76C893;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  padding: .2rem .7rem;
}

.home-header {
  background-color: #76C893;
  padding: 1rem 0;
  border-bottom: solid 3px black;
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
}

@media (min-width: 768px) {
  .home-header {
    padding: 0rem 1rem;
  }
}

.home-header .head-content {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .home-header .head-content {
    max-width: 1000px;
    margin: auto;
  }
}

.home-header .head-content .header-title {
  font-size: 13px;
}

.home-header .head-content .header-title h2 {
  font-weight: 500;
}

.home-header .head-content .hamburger {
  cursor: pointer;
  z-index: 21;
}

@media (min-width: 768px) {
  .home-header .head-content .hamburger {
    display: none;
  }
}

.home-header .head-content .hamburger .line {
  display: block;
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  border-radius: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.home-header .head-content .hamburger .line:first-child {
  margin-top: 0;
}

.home-header .head-content .hamburger .line:last-child {
  margin-bottom: 0;
}

.home-header .head-content .hamburger.exit .line:first-child {
  -webkit-transform: rotate(45deg) translate(6px, 0px);
          transform: rotate(45deg) translate(6px, 0px);
}

.home-header .head-content .hamburger.exit .line:nth-child(2) {
  display: none;
}

.home-header .head-content .hamburger.exit .line:last-child {
  -webkit-transform: rotate(-45deg) translate(5px, 0px);
          transform: rotate(-45deg) translate(5px, 0px);
}

.home-header .head-content .header-mob-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100vw;
  right: -100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid black;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  background-color: #FFFFFF;
}

@media (min-width: 768px) {
  .home-header .head-content .header-mob-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    visibility: visible;
    position: static;
    opacity: 1;
    border: none;
    background-color: transparent;
  }
}

.home-header .head-content .header-mob-menu.active {
  visibility: visible;
  opacity: 1;
  right: 0;
  left: 40vw;
}

.home-header .head-content .header-mob-menu .menu-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 768px) {
  .home-header .head-content .header-mob-menu .menu-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-header .head-content .header-mob-menu .menu-list .menu-item {
  padding-bottom: 1rem;
  border-bottom: solid 2px black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 1rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .home-header .head-content .header-mob-menu .menu-list .menu-item {
    border-bottom: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.home-header .head-content .header-mob-menu .menu-list .menu-item:first-child {
  border-top: solid 2px black;
}

@media (min-width: 768px) {
  .home-header .head-content .header-mob-menu .menu-list .menu-item:first-child {
    border-top: none;
  }
}

.home-header .head-content .header-mob-menu .menu-list .menu-item .menu-link {
  color: black;
  text-decoration: none;
}

.global-section {
  min-height: 100vh;
  padding: 1.5rem;
}

@media (min-width: 568px) {
  .global-section {
    margin: auto;
    max-width: 568px;
    padding: 3rem;
  }
}

.global-section.p-10 {
  padding-top: 10rem;
}

.global-section.p-15 {
  padding-top: 15rem;
}

.global-section .card-content {
  background-color: #FFFFFF;
  border: 2px solid black;
  border-bottom: 5px solid black;
  padding: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.global-section .card-content.alternative-article {
  padding: 1rem .8rem;
}

.global-section .card-content.alternative-article figure {
  margin-top: .5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.global-section .card-content.alternative-article figure img {
  width: 100%;
  display: block;
  border: solid 2px black;
}

.global-section .card-content.alternative-article div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.global-section .card-content.alternative-article .archivements-bar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border: 2px solid black;
  padding: .5rem;
  font-size: 14px;
}

.global-section .card-content.alternative-article .archivements-bar h4 {
  font-weight: 400;
  padding: .3rem 0;
}

.global-section .card-content figure {
  margin-top: 4.5rem;
  margin-right: .2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.global-section .card-content figure img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
}

.global-section .card-content div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  padding: 1rem .3rem;
  margin: 0 .2rem;
}

.global-section .card-content div h2 {
  font-weight: 500;
}

.global-section .card-content div p {
  padding: 1rem 0rem;
}

.global-section .card-content .aboutme-button-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px;
}

.global-section .card-content .aboutme-button-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.global-section .card-content .aboutme-button-bar div a {
  text-decoration: none;
  color: black;
}

.global-section .card-content .aboutme-button-bar div span {
  font-size: 27px;
}

.global-section .button-section {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.global-section .button-section .back-button {
  background-color: #F9C74F;
  border: 2px solid black;
  padding: .2rem .5rem;
}

.global-section .button-section :hover {
  background-color: darkorange;
}

footer {
  background-color: transparent;
  padding: 2rem;
}

footer .footer-container {
  margin: auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-container h5 {
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */