$main-color: #F9C74F;
$second-color: #76C893;
$background-color: #DEE2E6;
$primary-text-color: black;
$seconday-content-color: #FFFFFF;
$border-color: black;
$hover-color: darkorange;
$standard-shadow: 2px solid $border-color;
$bottom-shadow: 5px solid $border-color;
$max-width: 1100px;
$font: 'Poppins';
$fontWeight500: 500;
$fontWeight400: 400;

*, html{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font;
}
body{
    background-color: $background-color;
    font-family: $font;
}
a{
    color: $primary-text-color;
    text-decoration: none;
}
p{
    font-weight: $fontWeight500;
}
.start-section{
    margin-top: 15%;
    padding: 2rem;
    @media (min-width: 780px) {
        margin-top: 10%;
        flex: 1;  
    }
    .welcome-box{
        margin: auto;
        max-width: 400px;
        background-color: $main-color;
        border: $standard-shadow;
        border-bottom: $bottom-shadow;
        padding: 1.5rem 1.5rem;
        @media (min-width: 780px) {
            margin-top: 0%;
            flex: 1;  
        }
    }
    .category-menu{
        margin: auto;
        max-width: 400px;
        .categorys{
            display: flex;
            flex-wrap: wrap;
            list-style: none;   
            li{
                flex: 0 0 23%;
                background-color: $main-color;
                border: $standard-shadow;
                margin-bottom: 5px;
                margin-left: 10px;
                display: flex;
                text-align: center;
                a{
                    flex: 1;
                    font-weight: $fontWeight500;
                    padding: .5rem 
                }
                &:hover{
                    background-color: $hover-color;
                }
                &.selected-category{
                    background-color: $hover-color;
                }
            }
        }
    }
}
// Portfolio content
.portfolio-section{
    max-width: 600px;
    margin: auto;    
    padding: 2rem;  
    @media (min-width: 568px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: $max-width;
    }
    //category menu
    
    .portfolio-div{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        @media (min-width: 568px) {
            flex: 0 0 49%;
        }
        @media (min-width: 780px) {
            flex: 0 0 45.8%;
        }
        @media (min-width: 960px) {
            flex: 0 0 30%;
    }
        .portfolio-header{
            flex: 0 0 100%;
            display: flex; 
             .portfolio-label{
                 padding: .3rem .6rem;
                 background-color: $primary-text-color;
                 color:$seconday-content-color;
             }
             .portfolio-button{          
                 margin-left: auto;  
                 .port-btn{              
                     padding: .3rem 0;
                     display: flex;
                     align-items: center;
                     background-color: transparent;
                     border: none;
                     h4{
                         font-weight: $fontWeight500;
                         padding-right: .3rem;
                     }
                 }
             }
        }
        .portfolio-content{
            border: $standard-shadow;
            border-bottom: $bottom-shadow;
            padding: 2rem 1rem;
            background-color: $seconday-content-color;
            h4{
                margin-bottom: .3rem;
            }
            p{
                font-weight: $fontWeight400;
            }
        }
    }
    //ERROR-DIV
    .error-div{
        margin: 10rem 1rem;
        padding: 1.5rem 1.5rem;
        .error-header{
            flex: 0 0 100%;
            display: flex;
            .error-label{
                padding: .2rem 1.5rem;
                background-color: yellow;
                border: solid 2px $primary-text-color;
                border-bottom: none;
            }
        }
        .error-content{
            border: $standard-shadow;
            border-bottom: $bottom-shadow;
            background-color: $seconday-content-color;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            h2{
                margin-top: 2rem;
                font-weight: 400;
            }
            .back-btn{
                font-weight: 400;
                margin-top: 2rem;
                background-color: $second-color;
                color: $primary-text-color;
                border: $standard-shadow;
                text-decoration: none;
                padding: .2rem .7rem;
            }
        }
    }
}

//HEADER & MENU
.home-header{
    background-color: $second-color;
    padding: 1rem 0;
    border-bottom: solid 3px black;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    top: 0;
    .head-content{
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 768px){
            max-width: 1000px;
            margin: auto;
        }
        .header-title{
            font-size: 13px;
            h2{
                font-weight: $fontWeight500;
            }
        }
        .hamburger{    
            cursor: pointer;
            z-index: 21;
            @media (min-width:768px) {
                display: none;
            }
            .line{
                display: block;
                background-color: black;
                width: 25px;
                height: 3px;
                margin: 5px 0;
                border-radius: 20px;
                transition: .2s;
                &:first-child{
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &.exit{
                .line{
                    &:first-child{
                        transform: rotate(45deg) translate(6px, 0px);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:last-child{
                        transform: rotate(-45deg) translate(5px, 0px);
                    }
                }
            }
        }
        .header-mob-menu{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 100vw;
            right: -100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border: $standard-shadow;
            opacity: 0;
            visibility: hidden;
            transition: .2s ease-out;
            background-color: $seconday-content-color;
            @media (min-width: 768px) {
                flex: 0 0 40%;
                visibility: visible;
                position: static;
                opacity: 1;
                border: none;  
                background-color: transparent;      
            }
            &.active{
                visibility: visible;
                opacity: 1;
                right:0;
                left: 40vw;
            }
            .menu-list{
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
                flex: 1;
                @media (min-width: 768px) {
                    flex-direction: row;
                    align-items: center;
                }
                .menu-item{
                    padding-bottom: 1rem;
                    border-bottom: solid 2px black;
                    flex: 0 0 100%;
                    padding: 1rem 0;
                    text-align: center;
                    @media (min-width: 768px) {
                        border-bottom: none;
                        flex: 0 0 25%;
                    }
                    &:first-child{
                        border-top: solid 2px black;
                        @media (min-width: 768px) {
                            border-top: none;
                        }
                    }
                    .menu-link{
                        color: black;
                        text-decoration: none;
                        
                    }         
                }
            }
        }
    }
}

// GLOBAL 
.global-section{
    min-height: 100vh;
    padding: 1.5rem;
    @media (min-width: 568px) {
        margin: auto;
        max-width: 568px;
        padding: 3rem;
    }
    &.p-10{
        padding-top: 10rem;
    }
    &.p-15{
        padding-top: 15rem;
    }
     .card-content{
         background-color: $seconday-content-color;
         border: $standard-shadow;
         border-bottom: $bottom-shadow;
         padding: .4rem;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         &.alternative-article{
             padding: .8rem;
             figure{
                 //FIX THIS LATER, REMOVE WHEN IMAGES IS DONE
                 flex: 0 0 100%;
                 background-color: $seconday-content-color;
                 height: 120px;
                 border: $standard-shadow;   
                 margin-top: .5rem;        
             }
             div{
                 flex: 0 0 100%;
             }
             .archivements-bar{
                 flex: 0 0 100%;
                 border: $standard-shadow;
                 padding: .5rem;
                 font-size: 14px;
                 h4{
                     font-weight: 400;
                     padding: .3rem 0;                  
                 }
             }
         }
         figure{
             margin-top: 4.5rem;
             margin-right: .2rem;
             flex: 0 0 35%;
             img{
                 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                 width: 100%;
             }
         }
         div{
             flex: 0 0 57%;
             padding: 1rem .3rem;
             margin: 0 .2rem;
             h2{      
                 font-weight: 500;
             }
             p{    
                 padding: 1rem 0rem;   
             }
         }
         .aboutme-button-bar{
             flex: 1;
             margin: 0px;
             div{ 
                 display: flex;
                 justify-content: end;
                 a{
                     text-decoration: none;
                     color: $primary-text-color;
                 }
                 span{
                     font-size: 27px;
                 }
             }
         }
     }
     .button-section{
        margin-top: 1rem;
        display: flex;
        justify-content: end;
        .back-button{
            background-color: $main-color;
            border: $standard-shadow;
            padding: .2rem .5rem;
        }
        :hover{
            background-color: $hover-color;
        }
    }
}
//Footer 
footer{
    background-color: transparent;
    padding:2rem;
    .footer-container{
        margin: auto;
        max-width: $max-width;
        display: flex;
        justify-content: center;
        h5{
            font-weight: $fontWeight400;
        }
    }
}

