*, html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #8CC0C7;
  font-family: "Poppins";
}

section {
  max-width: 600px;
  margin: 10rem auto;
}

section .error-div {
  margin: 10rem 1rem;
  padding: 1.5rem 1.5rem;
}

section .error-div .error-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .error-div .error-header .error-label {
  padding: .2rem 1.5rem;
  background-color: yellow;
  border: solid 2px black;
  border-bottom: none;
}

section .error-div .error-content {
  border: 2px solid black;
  border-bottom: 5px solid black;
  background-color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .error-div .error-content h2 {
  margin-top: 2rem;
  font-weight: 400;
}

section .error-div .error-content .back-btn {
  font-weight: 400;
  margin-top: 2rem;
  background-color: #45D174;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  padding: .2rem .7rem;
}

section form {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section form .error-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: .2rem;
}

section form .error-label h3 {
  text-shadow: 2px .5px 2px black;
  color: red;
}

section form div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

section form div label {
  background-color: #FAFF09;
  border: 2px solid black;
  padding: .2rem 1.5rem;
  border-bottom: none;
  font-weight: 550;
  font-size: 18px;
}

section form div input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 1rem;
  border: 2px solid black;
  border-bottom: 5px solid black;
}

section form div#info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section form div#info label {
  padding: .2rem .2rem;
}

section form div#info textarea {
  resize: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border: 2px solid black;
  border-bottom: 5px solid black;
  padding: 10px;
}

section form div#submit input {
  font-weight: 550;
  font-size: 18px;
  -ms-grid-column-align: center;
      justify-self: center;
  background-color: #45D174;
}

section.home-container {
  margin: auto;
}

@media (min-width: 780px) {
  section.home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 780px;
  }
}

@media (min-width: 780px) {
  section.home-container {
    max-width: 1010px;
  }
}

section.home-container .welcome-box {
  background-color: #FAFF09;
  border: solid 3px black;
  border-bottom: solid 7px black;
  margin: 1rem;
  padding: 1.5rem 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

section.home-container .welcome-box p {
  font-weight: 500;
}

@media (min-width: 780px) {
  section.home-container .welcome-box {
    margin: 5rem 10rem;
    padding: 2rem 2rem;
  }
}

section.home-container .portfolio-div {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 780px) {
  section.home-container .portfolio-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.8%;
            flex: 0 0 45.8%;
  }
}

@media (min-width: 960px) {
  section.home-container .portfolio-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

section.home-container .portfolio-div .portfolio-header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.home-container .portfolio-div .portfolio-header .portfolio-label {
  padding: .3rem .6rem;
  background-color: black;
}

section.home-container .portfolio-div .portfolio-header .portfolio-label h4 {
  color: white;
}

section.home-container .portfolio-div .portfolio-header .portfolio-button {
  margin-left: auto;
}

section.home-container .portfolio-div .portfolio-header .portfolio-button .port-btn {
  padding: .3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins";
  background-color: transparent;
  border: none;
}

section.home-container .portfolio-div .portfolio-header .portfolio-button .port-btn h4 {
  font-weight: 450;
  padding-right: .3rem;
}

section.home-container .portfolio-div .portfolio-content {
  border: solid 3px black;
  border-bottom: solid 7px black;
  padding: 2rem 1rem;
  background-color: white;
}

section.home-container .portfolio-div .portfolio-content h4 {
  margin-bottom: .3rem;
}

section.success {
  margin: 20rem auto;
  padding: 1rem 2rem;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.success article {
  padding: 1rem 2rem;
  border: 2px solid black;
  border-bottom: 5px solid black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

section.success article p {
  font-weight: 550;
  font-size: 18px;
}

@media (min-width: 950px) {
  section.success article p {
    font-size: 24px;
  }
}

@media (min-width: 568px) {
  section.success article {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
            flex: 0 0 80%;
  }
}

@media (min-width: 950px) {
  section.success article {
    padding: 2rem 5rem;
  }
}

section.success a input {
  margin-top: 50px;
  background-color: #45D174;
  padding: .5rem 2rem;
  border: 2px solid black;
  border-bottom: 5px solid black;
  font-weight: 550;
  font-size: 17px;
}

@media (min-width: 950px) {
  section.success a input {
    font-size: 24px;
  }
}

.home-header {
  background-color: #45D174;
  padding: 1rem 0;
  border-bottom: solid 3px black;
  position: fixed;
  z-index: 20;
  left: 0;
  right: 0;
  top: 0;
}

.home-header .head-content {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .home-header .head-content {
    max-width: 1000px;
    margin: auto;
  }
}

.home-header .head-content .header-title {
  font-size: 13px;
}

.home-header .head-content .header-title h2 {
  font-weight: 450;
}

.home-header .head-content .hamburger {
  cursor: pointer;
  z-index: 21;
}

@media (min-width: 768px) {
  .home-header .head-content .hamburger {
    display: none;
  }
}

.home-header .head-content .hamburger .line {
  display: block;
  background-color: black;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  border-radius: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.home-header .head-content .hamburger .line:first-child {
  margin-top: 0;
}

.home-header .head-content .hamburger .line:last-child {
  margin-bottom: 0;
}

.home-header .head-content .hamburger.exit .line:first-child {
  -webkit-transform: rotate(45deg) translate(6px, 0px);
          transform: rotate(45deg) translate(6px, 0px);
}

.home-header .head-content .hamburger.exit .line:nth-child(2) {
  display: none;
}

.home-header .head-content .hamburger.exit .line:last-child {
  -webkit-transform: rotate(-45deg) translate(5px, 0px);
          transform: rotate(-45deg) translate(5px, 0px);
}

.home-header .head-content .header-mob-menu {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 100vw;
  right: -100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 2px solid black;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.home-header .head-content .header-mob-menu.active {
  visibility: visible;
  opacity: 1;
  right: 0;
  left: 40vw;
}

.home-header .head-content .header-mob-menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-header .head-content .header-mob-menu .menu-list .menu-item {
  padding-bottom: 1rem;
  border-bottom: solid 2px black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding: 1rem 0;
}

.home-header .head-content .header-mob-menu .menu-list .menu-item:first-child {
  border-top: solid 2px black;
}

.home-header .head-content .header-mob-menu .menu-list .menu-item .menu-link {
  color: black;
  text-align: center;
  text-decoration: none;
}

.home-header .head-content .header-mob-menu .menu-list .menu-item .menu-link h4 {
  font-weight: 400;
}

.aboutme-container {
  margin: 10rem 1.5rem;
}

@media (min-width: 568px) {
  .aboutme-container {
    margin: 10rem auto;
    max-width: 600px;
  }
}

.aboutme-container .aboutme-content {
  background-color: white;
  border: 2px solid black;
  border-bottom: 5px solid black;
  padding: .4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aboutme-container .aboutme-content div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
  padding: 1rem .3rem;
  margin: 0 .2rem;
}

.aboutme-container .aboutme-content div h2 {
  font-weight: 500;
}

.aboutme-container .aboutme-content div p {
  padding: 1rem 0rem;
}

.aboutme-container .aboutme-content .aboutme-button-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px;
}

.aboutme-container .aboutme-content .aboutme-button-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.aboutme-container .aboutme-content .aboutme-button-bar div a {
  text-decoration: none;
  color: black;
}

.aboutme-container .aboutme-content .aboutme-button-bar div span {
  font-size: 27px;
}

.aboutme-container .button-section {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.aboutme-container .button-section .back-button {
  background-color: #FAFF09;
  border: 2px solid black;
  padding: .2rem .5rem;
}

.aboutme-container .button-section .back-button a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=style.css.map */